@font-face {
    font-family: barlow;
    src: url(./Fonts/Barlow/Barlow-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: barlow;
    src: url(./Fonts/Barlow/Barlow-SemiBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: racing;
    src: url(./Fonts/RacingSansOne-Regular.ttf);
}
@font-face {
    font-family: oranie;
    src: url(./Fonts/Oranienbaum-Regular.ttf);
}
body {
  display: grid;
  margin: 0;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "head head head"
    "left  main right"
    "foot  foot foot";
  grid-template-rows: 640px 1fr 256px;
  grid-template-columns: 92px 1fr 92px;
}

header {
  grid-area: head;
  background-color: #2f3d61;
  display: grid;
  grid-template-columns: 92px 1fr 92px;
  
}
form{text-align: center;color: white;}
form input[type="text" ], input[type="email" ], select {color: white; font-size: larger;width: 32%; background: #22345b; border-color: white;}
form textarea{width: 60%;}
form button{color: #2f3d61;
padding: 24px;
border: none;
border-radius: 8px;
cursor: pointer;
font-style: italic;
font-family: racing;
font-size: 24px;
}

.side {
  background: linear-gradient(#2f3d61 0%, rgba(255, 0, 0, 0) 5% 95%, #2f3d61 100%), url(./Media/lado-deco.svg);
  background-size: contain;
}

.left{
  grid-area: left;  
}

.right{
  grid-area: right;
  transform: scaleX(-100%);
}
#nav{font-family: racing;}
#navbar{width: 100%;height: 15%;margin-bottom: 10px; margin-top: 0;display: block;position: relative;top: 0;}
#burger{width: 100%;height: 32%;margin-bottom: 10px; transition: all 1s;}
#burger text{
  animation: weee 64s linear infinite;
  transform-origin: center;
}
#salir{width: 100%; height: 100%; transition: all 1s;}
#body-cuestionario{
grid-template-columns: 256px 1fr 256px;
grid-template-rows: 128px 1fr 64px;
}
#body-cuestionario header{display: block;}
#pantalla{width: 100%;margin-bottom: 10px;}
#pantalla-mini{width: 100%;}
#pantalla-mini text{
  font-family: racing;
  transform: scaleY(150%) translateY(-25%);}
.mini{display: none}
.normal{display: block;}
header .side{
  background: linear-gradient(#2f3d61 0%, rgba(255, 0, 0, 0) 15% 80%, #2f3d61 100%), url(./Media/lado-deco2.svg);
}
#pantalla a{
  transform: scaleY(10%);
}
header .left{
  grid-area: auto;
}

header .right{
  grid-area: auto;
  transform: scaleX(-100%);
}

#pantalla #titulo{
  font-family: racing;
  font-size: 64;
  transform: scaleY(150%) translateY(-25%);
}
#pantalla #subtitulo{
  font-style: italic;
  font-family: oranie;
  transform: scaleY(150%) translateY(-25%);
}
main {
  grid-area: main;
}
h2{font-style: italic;}
.contenedor-texto{
    display: grid;
  line-height: 32px;
  padding: 32px;
  font-size: 20px;
  grid-template-columns: 1fr 1fr;
  background:linear-gradient(rgb(220, 220, 220) 0%, white 5%, white 95%, rgb(220, 220, 220) 100%);
  font-family: barlow;
}
.contenedor-cartas{
  display: grid;
  line-height: 32px;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #ffff64;
  color: white;
  font-family: barlow;
}
.contenedor-ficha{
      display: grid;
  line-height: 32px;
  font-size: 18px;
  grid-template-columns: 1fr 1fr;
}
.contenedor-ficha div{
  padding: 16px;
}
.contenedor-cartas div:hover div div{display: block;}
.contenedor-cartas h1{
  font-family: racing;
  font-style: italic;
  text-decoration:underline;
}

#mision{background: #22345b;
  padding-left: 15%; 
  padding-right: 15%;
}
#vision{background-color: #2f3d61;
  padding-left: 15%; 
  padding-right: 15%;}
#valores{background-color: #4b658a; 
  padding-left: 15%; 
  padding-right: 15%;}

footer {
  grid-area: foot;
  background:linear-gradient(rgb(220, 220, 220) 0%, white 10%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: oranie;
}
#logo{position: absolute;}
.contenedor-galeria{
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  text-align: center;
  color: white;
  font-style: italic;
  font-family: oranie;
  font-size: large;
  background-color: #22345b;
}

.contenedor-carrusel{
  background:linear-gradient(white 0%, 10px #22345b,);
  margin: 10px auto 0;
  overflow-x: hidden;
  width: 720px;
}
.carrusel{
  display: flex;
  align-items: center;
  padding: 0;
  gap: 10px;
  width: 720px;
  animation: carrusel 10s infinite linear;
}
.carrusel li{
  list-style: none;
  position: relative;
}
.carrusel img{
  height: 128px;
  filter: grayscale(100%);
}

/* Define el movimiento del carrusel */
@keyframes carrusel {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-200%); /* Ajusta según el duplicado de tus elementos */
    }
}


.contenedor-galeria img{width: 95%;}
.contenedor-galeria div:hover img{
  filter:brightness(50%);
  transition: all 1s;
}
.contenedor-galeria div:hover{
  transform: scale(120%);
  filter:grayscale(100%);
  transition: all 1s;
}
.contenedor-galeria div:hover p{
  display: block;
}
.contenedor-galeria div p{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#globe{
  width: 100;
  height: 30;
  position: absolute;
  top: 0;
}
@media (max-width:880px) {
  #body-cuestionario header{background:linear-gradient(white 0%,#22345b 100%);}
  #body-cuestionario{
    grid-template-columns: 1fr;
    grid-template-rows: 256px 1fr 128px;
  }
  #burger{display: none;}
  .contenedor-carrusel{
    width: 512px;
  }
  .mini{display: block}
.normal{display: none;}
  .contenedor-galeria p{
    font-size: x-large;
  }
header{
  grid-template-columns: 1fr;
}
body{
    grid-template-areas:
    "head"
    "main"
    "foot";
    grid-template-columns: 1fr;
}
.contenedor-galeria{
    grid-template-columns: 1fr 1fr;
  }
.contenedor-texto{
    background:linear-gradient(#22345b 0%, white 67px, white 95%, rgb(220, 220, 220) 100%);
}
footer {
  background:linear-gradient(rgb(220, 220, 220) 0%, white 10%);
}
}

@media (max-width:512px) {
    .contenedor-carrusel{
    width: 320px;
  }
  #burger{height: 32%;}
  header .side{display: none; }
  body{
    grid-template-areas:
    "head"
    "main"
    "foot";
    grid-template-columns: 1fr;
    grid-template-rows: 640px 1fr 256px;
  }
  .contenedor-galeria{
    grid-template-columns: 1fr;
  }
  .contenedor-galeria p{
    font-size: xx-large;
  }
  .contenedor-texto{
    text-align: justify;
    grid-template-columns: 1fr;
  }
  .contenedor-cartas{
    grid-template-columns: 1fr;
  }
  .contenedor-ficha{
    grid-template-columns: 1fr;
  }
  #ficha-imagen{grid-area: imagen;}#ficha-texto{grid-area: texto;}
  #navbar{
    display: none;
  }
  #burger{
    display: block;
  }
  #vision{
    grid-template-areas: 'imagen' 'texto';
  }

}
@keyframes weee {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
